
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="container">
    <img class="img-fluid" src="http://media1.santabanta.com/full1/Hinduism/Lord%20Ganesha/lord-ganesha-205a.jpg" alt="Alternate Text" />
</div>

